allow fsck persist_block_device:blk_file rw_file_perms;

dontaudit fsck_untrusted vendor_file:file read;
dontaudit fsck block_device:blk_file rw_file_perms;
